:root {
    --accent-color: rgb(1, 88, 158);
}

.chapter{
    padding-bottom: 30px;
    padding-top: 30px;
}

#canvas_container[data-v-6c1ee046] {
    height: 100vh;
    min-height: 600px;
    width: 100vw
}

.container[data-v-6c1ee046],body[data-v-6c1ee046] {
    overflow: hidden
}

.container[data-v-8eb145da],body[data-v-8eb145da] {
    overflow: hidden
}


.color-gray {
    color: #988e9f!important
}

.cp {
    cursor: pointer
}

.mono {
    font-family: Roboto Mono,Courier New,Courier,monospace!important
}

.pull-right {
    float: right
}

.serif {
    font-family: Palatino,Georgia,Times New Roman,Times,serif
}

.fat {
    font-weight: 700
}

.normal {
    font-weight: 400
}

.pr {
    position: relative!important
}

@keyframes glitch {
    0% {
        transform: translate(0)
    }

    20% {
        transform: translate(-2px,2px)
    }

    40% {
        transform: translate(-2px,-2px)
    }

    60% {
        transform: translate(2px,2px)
    }

    80% {
        transform: translate(2px,-2px)
    }

    to {
        transform: translate(0)
    }
}


label {
    cursor: pointer;
    font-size: 1.4rem
}

label.error {
    color: var(--accent-color);
    display: block;
    font-size: .8rem;
    margin-bottom: 0
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.animated.infinite {
    animation-iteration-count: infinite
}

@keyframes shake {
    0%,to {
        transform: translateZ(0)
    }

    10%,30%,50%,70%,90% {
        transform: translate3d(-10px,0,0)
    }

    20%,40%,60%,80% {
        transform: translate3d(10px,0,0)
    }
}

.error {
    animation-name: shake;
    color: #b61919
}

.error .input__field--ruri+.input__label--ruri:after {
    background: #b61919
}

.block-reveal {
    align-items: center;
    display: flex;
    display: inline-block;
    overflow: hidden;
    position: relative
}

.block-reveal__text {
    margin: .3em 0;
    opacity: 0
}

.block-reveal__block {
    background: var(--accent-color);
    content: "";
    height: 100%;
    position: absolute;
    transform: translateX(calc(100% + 1px));
    width: 100%;
    will-change: transform;
    z-index: 1
}

.block-reveal__block.white {
    background-color: #f9f9f9
}

.block-reveal.projects {
    background-clip: border-box;
    margin: -11px;
    padding: 11px
}

.block-reveal--active .block-reveal__text {
    animation: block-reveal-text 0s;
    animation-delay: .4s;
    animation-fill-mode: forwards;
    will-change: transform,opacity
}

.block-reveal--active .block-reveal__block {
    animation: block-rev-block .8s;
    animation-timing-function: cubic-bezier(.65,.05,.36,1)
}

.block-reveal--deactive .block-reveal__text {
    animation: block-reveal-text-back 0s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
    opacity: 1;
    will-change: transform,opacity
}

.block-reveal--deactive .block-reveal__block {
    animation: block-rev-block-back .8s;
    animation-timing-function: cubic-bezier(.65,.05,.36,1)
}

.block-reveal--active.projects .block-reveal__block,.block-reveal--active.projects .block-reveal__text {
    animation: none;
    opacity: 1;
    transform: translateX(calc(100% + 1px))
}

@keyframes block-rev-block {
    0% {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(calc(100% + 1px))
    }
}

@keyframes block-rev-block-back {
    0% {
        transform: translateX(calc(100% + 1px))
    }

    to {
        transform: translateX(-100%)
    }
}

@keyframes block-reveal-text {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes block-reveal-text-back {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.ws-nowarp {
    white-space: nowrap!important
}

.headspace {
    height: 4rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform .3s
}

.headspace--hidden {
    transform: translate3d(0,-4rem,0)
}

.headspace--fixed {
    position: fixed
}

.headspace--hidden:after {
    content: "";
    height: 4rem;
    left: 0;
    position: fixed;
    right: 0;
    top: 4rem
}

.headspace--hidden:hover {
    transform: translateZ(0)
}

@keyframes fadeinLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fadeinRight {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.btn.focus,.btn:focus {
    box-shadow: none!important;
    outline: 0
}

img.lazy {
    width: 100%;
    will-change: transform,opacity
}

img.lazy[lazy=loading] {
    opacity: 0;
    transform: translateX(-100px)
}

img.lazy[lazy=error],img.lazy[lazy=loading] {
    transition: all .3s cubic-bezier(.165,.84,.44,1)
}

img.lazy[lazy=loaded] {
    animation-direction: normal;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: fadeinLeft;
    animation-timing-function: cubic-bezier(.165,.84,.44,1)
}

* {
    backface-visibility: hidden
}

body {
    background-color: #1a1527;
    color: #f9f9f9;
    font-display: auto;
    font-family: Roboto Condensed,Lato,Arial,sans-serif!important;
    font-size: 24px;
    font-weight: 400;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    position: relative
}

a {
    color: var(--accent-color);
}

a:link,a:visited {
    transition: all .3s cubic-bezier(.165,.84,.44,1)
}

a:active,a:focus,a:hover {
    color: var(--accent-color);
    -webkit-text-decoration: none;
    text-decoration: none
}

.fixed-top{
    position:fixed;
}

.navbar-collapse{
    flex-grow: 0;
}

.navbar-offset-top {
    padding-bottom: 70px;
    padding-top: 70px
}

.min100vh {
    height: 100vh;
    min-height: 560px
}

.loading-text {
    color: #fff;
    font-family: Roboto Mono,Courier New,Courier,monospace!important;
    font-size: 14px;
    font-weight: 700;
    left: 50%;
    margin-top: 70px;
    position: relative
}

.section-title {
    color: #988e9f;
    font-size: 18px;
    font-weight: 300
}

.section-title.alt {
    display: inline-block;
    margin-top: 30px
}

.btn,.btn2 {
    background: linear-gradient(-45deg,#ffa63d,#ff3d77,#1593e3,var(--accent-color));
    background-size: 1100%;
    border: none;
    border-radius: 50px;
    color: hsla(0,0%,100%,.9);
    font-family: Roboto Mono,Courier New,Courier,monospace!important;
    font-size: 20px;
    line-height: 1;
    padding: 17px 35px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transform: scaleX(1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955)
}

.btn {
    margin: 30px 0;
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275),bottom .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955)
}

.btn,.btn .btn2 {
    background-position: 0 50%;
    bottom: 0
}

.btn .btn2 {
    filter: blur(16px);
    left: 0;
    opacity: .8;
    position: absolute;
    transform: scale3d(.9,.9,1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275),filter .3s cubic-bezier(.175,.885,.32,1.275),bottom .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955);
    width: 100%;
    z-index: -1
}

.btn:focus,.btn:hover {
    background-position: 100% 50%;
    bottom: 2px;
    transform: scale3d(1.1,1.1,1)
}

.btn:focus .btn2,.btn:hover .btn2 {
    background-position: 100% 50%;
    bottom: -5px;
    filter: blur(25px)
}

::selection {
    background-color: var(--accent-color);
    color: #fff
}

::-moz-selection {
    background-color: var(--accent-color);
    color: #fff
}

.down-arrow {
    background-image: linear-gradient(-180deg,#0d0c0e,#1a1527);
    bottom: 0;
    color: #988e9f;
    display: flex;
    height: 80px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: 0;
    width: 60px;
    z-index: 8
}

.down-arrow span {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-40%,-50%) rotate(90deg)
}

.timeline {
    background-color: var(--accent-color);
    height: 300%;
    left: -10px;
    position: absolute;
    top: 13px;
    width: 1px;
    z-index: 9
}

.timeline.alt {
    height: 5310%;
    top: 0
}

.bullet,.bullet:before {
    position: absolute
}

.bullet:before {
    background-color: #1b191e;
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    content: "";
    height: 9px;
    left: -4px;
    top: 0;
    width: 9px;
    z-index: 10
}

.bullet-title {
    position: relative
}

.bullet-title:before {
    background-color: #1b191e;
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    content: "";
    height: 9px;
    left: -29px;
    position: absolute;
    top: 9px;
    width: 9px;
    z-index: 10
}

.scroll-bottom {
    margin-left: -7px;
    position: relative;
    top: 300px
}

.scroll-bottom span {
    bottom: 0;
    color: var(--accent-color);
    font-size: 14px;
    position: absolute;
    text-shadow: 0 3px 14px #181619,0 -3px 14px #181619,3px 0 14px #181619,-3px 0 14px #181619,0 3px 6px #181619,0 -3px 6px #181619,3px 0 6px #181619,-3px 0 6px #181619;
    transform: translate(-15px,35px) rotate(-90deg);
    z-index: 9
}

.scroll-bottom i {
    text-shadow: 0 3px 14px #181619,0 -3px 14px #181619,3px 0 14px #181619,-3px 0 14px #181619,0 3px 6px #181619,0 -3px 6px #181619,3px 0 6px #181619,-3px 0 6px #181619,0 0 20px #181619
}

.scale-hover {
    position: absolute;
    transform: scaleX(1);
    transition: all .3s cubic-bezier(.165,.84,.44,1)
}

.scale-hover:hover {
    transform: scale3d(1.1,1.1,1)
}

h4 {
    color: #988e9f;
    font-family: Roboto Condensed,Lato,Arial,sans-serif!important;
    font-size: 30px;
    font-weight: 700
}


h3 {
    color: #988e9f;
    display: inline-block;
    font-size: 34px;
    font-weight: 400;
    margin: 0 20px;
    position: relative
}

h3:before {
    content: "<";
    left: -22px;
    position: absolute
}

h3:after {
    content: "/>";
    right: -40px
}

.wrp,h3:after {
    position: absolute
}

.wrp {
    left: 10%;
    text-align: left;
    top: 10%;
    z-index: 99
}

.wrp .white {
    color: #fff
}

.wrp p {
    font-size: 30px;
    margin: 0;
    position: relative
}

.wrp p:first-letter {
    display: flex;
    font-size: 60px;
    left: -100px;
    position: absolute;
    top: 100px
}

.hidden {
    display: none
}



.cursor__inner {
    border-radius: 50%;
    left: 0;
    mix-blend-mode: difference;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 9999
}

.cursor__inner--dot {
    background: #fff;
    height: 6px;
    width: 6px
}

.cursor__inner--circle,.cursor__inner--dot {
    transform: translateX(-100px) translateY(-100px)
}

.cursor__inner--circle {
    border: 1px solid #fff;
    height: 20px;
    width: 20px
}

#changeHeaderText1,
#changeHeaderText2 {
    text-align: center;
    user-select: none;
}


.contact-link{
    padding-left: 10px;
    padding-right: 10px;
}

.profile_img{
    border-radius: 50%;
}