    <!-- Work section -->
    <div id="work" class="min100vh container-fluid chapter">
        <div class="row w-100 justify-content-center">
            <div class="mx-auto offseted col-sm-9 col-md-9 col-10">
                <small class="section-title bullet-title alt">Work /&gt;</small>
                <div class="container">

                    <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Websites</h1>

                    <hr class="mt-2 mb-5">

                    <div class="row text-center text-lg-start">

                        <div class="col-lg-4 col-md-4 col-6">
                            <a target="_blank" href="https://perks-llc.com" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail"
                                    src="{{ url_for('static', filename= 'img/Perks-llc.webp')}}" alt=""><small>www.Perks-LLC.com</small>
                            </a>
                        </div>
                    </div>

                </div>
                
                <div class="container">

                    <h1 class="fw-light text-center text-lg-start mt-3 mb-0">Apps</h1>

                    <hr class="mt-2 mb-5">

                    <div class="row text-center text-lg-start">

                        <div class="col-lg-3 col-md-3 col-6">
                            <!-- <a href="https://perks-llc.com" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail"
                                    src="./assets/img/Perks-llc.webp" alt=""><span>Perks-LLC</span>
                            </a> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>